<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <!-- <link rel="stylesheet" href="/static/update_token.css"> Enlazamos con css-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Actualizar Token</title>
</head>
<body>
    <div id="main-container">
        <h1>Actualizar Token</h1>
        <p id="loading-message">Cargando datos...</p>
        <div id="user-data" style="display: none;">
            <p>Usuario: <span id="username"></span></p>
            <p>Token actual: <span id="user-token">Cargando...</span></p>

            <form id="token-form">
                <label for="token">Nuevo Token:</label>
                <input type="text" id="token" name="token">
                <button type="submit">Actualizar Token</button>
            </form>
            <a href="/web/user/{{user_id}}/games">Volver</a>
        </div>
    </div>

    <script>
        const userId = {{ user_id }}; // ID del usuario proporcionado por el servidor
        const userApiUrl = `/user/${userId}`;
        const updateTokenApiUrl = `/user/${userId}/update_token`;

        async function loadUserData() {
            try {
                const response = await fetch(userApiUrl);
                if (!response.ok) throw new Error("Error al cargar los datos del usuario");
                const userData = await response.json();
                document.getElementById("username").textContent = userData.name || "Sin nombre";
                document.getElementById("user-token").textContent = userData.board_token ?? "Sin token";
                document.getElementById("loading-message").style.display = "none";
                document.getElementById("user-data").style.display = "block";
            } catch (error) {
                alert(error.message);
            }
        }

        async function updateToken(event) {
            event.preventDefault();
            const token = document.getElementById("token").value;
        
            if (!token) {
                //const token= Null;
                alert("Por favor, ingresa un token válido.");
                return;
            }
        
            const uploadTokenApiUrl = `/user/${userId}/update_token/${encodeURIComponent(token)}`;
        
            try {
                const response = await fetch(uploadTokenApiUrl, { method: "POST" });
                if (!response.ok) throw new Error("Token invalido");
                const result = await response.json();
                alert(result.message);
                
            } catch (error) {
                alert(error.message);
            }
            loadUserData();
        }

        document.addEventListener("DOMContentLoaded", loadUserData);
        document.getElementById("token-form").addEventListener("submit", updateToken);
    </script>
</body>
</html>
