<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesión</title>
</head>
<body>
    <div class="container">
        <h1>Iniciar Sesión</h1>
        <form method="POST" action="/user/login">
            <!-- Campo Username -->
            <div class="input-group username">
                <label for="name">Nombre:</label>
                <input type="text" id="name" name="name" required>
                <span></span>
            </div>
            <!-- Campo Password -->
            <div class="input-group password">
                <label for="password">Contraseña:</label>
                <input type="password" id="password" name="password" required>
                <span></span>
            </div>
            <button type="submit">Aceptar</button>
        </form>

        <!-- Mostrar el mensaje de error solo si existe -->
        {% if error %}
            <div class="error-message">
                <p>{{ error }}</p>
            </div>
        {% endif %} 

        <!-- Enlace para registrarse que redirige a la página de creación de usuario -->
        <div class="registrar">
            <a href="/web/user/create">Crear usuario</a>
        </div>
    </div>



    <script>
        document.querySelector("form").addEventListener("submit", async (event) => {
            event.preventDefault(); // Evita la recarga de la página
        
            const name = document.querySelector("#name").value;
            const password = document.querySelector("#password").value;
        
            try {
                const response = await fetch("/user/login", {
                    method: "POST",
                    headers: { "Content-Type": "application/json" },
                    body: JSON.stringify({ name, password }),
                });
        
                if (response.ok) {
                    const data = await response.json();
                    const userId = data.user_id;
                    window.location.href = `/web/user/${userId}/games`; // Redirigir al perfil del usuario
                } else {
                    const error = await response.json();
                    alert("Error: " + error.detail);
                }
            } catch (err) {
                console.error("Error de red:", err);
                alert("Error al conectarse con el servidor.");
            }
        });
    </script>

</body>
</html>


    